<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src='../static/fusioncharts/fusioncharts.js'></script>
{#    {% load static %}#}
{#    <script type="text/javascript" src="{% static "main/fusioncharts.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "main/themes/fusioncharts.theme.fint.js" %}"></script>#}
    <style>
        .card {
            background-color: rgb(166, 16, 30) !important;
        }
    </style>

</head>

<body>
    {% extends 'main/header.html' %}
    {% load static %}
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
    {% block content %}
        <br><br>
        <div class="row">
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-content white-text">
                        <span class="card-title">Request blood</span>
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="requests">Request</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-content white-text">
                        <span class="card-title">Donate blood</span>
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="donate">Donate</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-content white-text">
                        <span class="card-title">Be a Medic</span>
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="medic">Medic</a>
                    </div>
                </div>
            </div>
        </div>
{#        <hr>#}
        <div class="row">
            <div class="s12 m6 l4">
                <div id="chart-1" class="container">{{ output | safe}}</div>
            </div>
            <div class="s12 m6 l4">
                <div id="chart-2" class="container">{{ output | safe}}</div>
            </div>
{#                <div class="s12 m6 l4 xl4">#}
{#                    <div id="chart-1">{{ output | safe}}</div>#}
{#                </div>#}
        </div>
        <hr>
{#        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>#}
    {% endblock %}
</body>